.form {
    display: flex;
    background: linear-gradient(to bottom right, var(--light-grad1-color), var(--light-grad2-color));
    border-radius: 10px;
    margin: 5px 5px;
}
  
.input {
    border: none;
    padding: 10px;
    /* padding-right: 40px; */
    margin: 5px 5px;
    /* margin-bottom: 5px; */
    width: 80%;
    font-size: 1.2em;
    border-bottom-left-radius: 5px;
    /* border: solid pink; */
    border-radius: 5px;
    background: linear-gradient(to bottom right, var(--light-grad1-color), var(--light-grad2-color));
    color: var(--darkest-color);

}
.input::placeholder {
    color: var(--dark-grad1-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
    background: linear-gradient(to bottom right, var(--dark-grad1-color), var(--dark-grad2-color));

    padding: 20px;
    margin: 5px 5px;
    /* margin-bottom: 5px; */
    margin-left: 0;
    display: inline-block;
    border: none;
    width: 20%;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}
.sendButton:active, .sendButton:hover, .sendButton:focus {
    background: linear-gradient(to bottom right, var(--dark-grad2-color), var(--dark-grad1-color));
}