.form {
    display: flex;
    /* border-top: 2px solid #D3D3D3; */
    /* border-top: 2px solid #204051; */
    /* border-top: linear_gradeint; */
    /* margin: 0; */
    /* border: solid green; */

}
  
.input {
    border: none;
    padding: 10px;
    /* padding-right: 40px; */
    margin: 5px 5px;
    /* margin-bottom: 5px; */
    width: 80%;
    font-size: 1.2em;
    border-bottom-left-radius: 5px;
    /* border: solid pink; */
    border-radius: 10px;
    /* background-color: #d1cac3; */
    background: linear-gradient(to bottom right, #e7dfd5, #ada8a2);
    color: #102029;
    /* border-bottom: 2px solid #204051; */

}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
    background: #3b6978;
    background: linear-gradient(to bottom right, #4f8a9e, #315663);

    padding: 20px;
    margin: 5px 5px;
    /* margin-bottom: 5px; */
    margin-left: 0;
    display: inline-block;
    border: none;
    width: 20%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.sendButton:active, .sendButton:hover {
    background: linear-gradient(to bottom right, #315663, #4f8a9e);
}
