.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
}
  
.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    border-bottom-left-radius: 5px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #3b6978;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    border-bottom-right-radius: 5px;

}