
/* each bubble */
.messageBubble {
  border-radius: 20px;
  padding: 0px 10px;
  color: white;
  display: inline-block;
  max-width: 80%;
  /* border: solid green; */
  height: 30px;
}

/* text in bubble */
.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1em;
  word-wrap: break-word;
  padding: 5px;
  margin: 0;
  /* border: solid purple; */
}
  
.messageText img {
  vertical-align: middle;
}

/* contains name and text, horiz full width */
.messageContainer {
  display: flex;
  /* HERE */
  flex-direction: column;
  align-items: flex-end;
  padding: 0 3%;
  margin-top: 3px;
  /* border: solid red; */
  /* margin-bottom: 0; */
}

/* name of sender, or admin message*/
.sentText {
  display: flex;
  align-items: center;
  color: #828282;
  letter-spacing: 0.5px;
  line-height: 0.1em;
  /* border: solid pink; */
}

.adminMessage {
  margin: 0;
  line-height: normal;
}

.noName {
  border: solid pink;
}
  
.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.left {
  align-items: flex-start;
}
.center {
  align-items: center;
}
.right {
  align-items: flex-end;
}

  
.colorWhite {
  color: white;
}

.colorDark {
  color: #204051;
}

.backgroundBlue {
  background: #84a9ac;
}

.backgroundLight {
  background: #e7dfd5;
}